body{
	background-color: #8f8d90;
	font: 18px/22px arial,verdana;
	color: #212121;
}
header{
	background: #212121;
	
	padding-bottom: 20px;
	font-size: 24px;
	overflow-y: contain;
}

header h1{
	border-top: 2px solid #fff;
	padding: 10px 20px 0 20px;
	display: inline-block;
	margin-left: 20px;

}

header h1 a{
	color: #fff;
}

.container{
	width: 100vw;
	margin: 0 auto;
}
.item{
	width: 70vw;
	margin: 20px auto;
	
	
	padding: 30px;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	border: 2px solid transparent;
	transition: all .2s linear;
	color: #212121;
	background-color: #efefef;

}


.item:hover{
	/*border: 2px solid #454545;*/
	transform: translateY(-2px);
	box-shadow: 5px 5px 10px #333;
	background-color: #fff;
}
.item .title{
	flex-grow: 2;
	text-align: left;
}
.row{
	display: flex;
}

.col-2{
	width: 0;
	color: #eee;

}
.col-1{
	width: 100vw;
}
/*.col-2{
	width: calc(100vw - 950px);
	border: 1px solid black;


}
.col-1{
	width: 950px;
}*/

h2{
	text-align: center;
	font-size: 2em;
	margin-top: 20px;
}

.title a{
	text-decoration: none;
	color: #000;
	

}

.details{
	width: 50vw;
	margin: 30px auto;
	border-radius: 6px;
	background: #fff;
	color: #212121;
	padding: 30px;
	box-shadow: 5px 5px 10px #333;
}

.details .title{
	text-align: center;
	padding: 10px 0;
	font-size: 30px;
}

.details .status{
	float: right;

}

.details .status a{
	color: #757575;
	font-size: 16px;
}

.details .info{
	clear: both;
	padding: 10px;
}


.item_new{
	position: fixed;
	top: 10px;
	right: 10px;
	border-width: 0;
	background: #eee;
	
	
	margin: 0;
	border-radius: 2px;
}
.item_new a{
	color: #212121;
	font-size: 25px;
	line-height: 25px;
	margin: 0;
	
}


.item_new_form{
	width: 30vw;
	margin: 30px auto;
	background: #eee;
	color: #212121;
	padding: 30px;
}

.item_new_form h1{
	text-align: center;
	font-size: 30px;
}

.item_new_form label{
	display: block;
}

.item_new_form form{
	margin-top: 30px;
}

.item_new_form input,
.item_new_form textarea{
	border-radius: 6px;
	border-width: 0;
	height: 30px;
	font-size: 16px;
	background:#b9b5b5;
	color: #fff;
}

.item_new_form textarea{
	height: 100px;
}

.item_new_form input:focus,
.item_new_form textarea:focus{
	background: #6f6b6b;
	
	box-shadow: inset 0 2px 5px #000;

}

.item_new_form button{
	margin: 0 auto;
	display: block;
}

.btn{
	height: 30px;
	background: #b9b5b5;
	box-shadow: 5px 5px 3px #6f6b6b;
	font-size: 20px;
	width: 70px;
	border-radius: 2px;
	border-width: 0;
	transition: all .2s linear;
}

.item_new_form p{
	margin: 20px 0;
}

.btn:active{
	transform: translate(3px);
	box-shadow: 2px 2px 2px #6f6b6b;
}

.status .btn{
	text-align: center;
	line-height:30px;	
}

.status .btn a{
	color: #fff;
}

.ticked{
	box-shadow: 0 0 0 #000;
	background-color: transparent;
	color: #333;
}

.done{
	background-color: #ddd;

}

.done:hover{
	background: #eee;

}



/********************************

making it responsive

*********************************/

@media only screen and (min-width:600px){
	.item{
		width: 400px;
	}
}
