body{
	background-color: #8f8d90;
	font: 18px/22px arial,verdana;
	color: #eee;
}
header{
	background: #212121;
	
	padding-bottom: 30px;
	font-size: 24px;
}

header h1{
	border-top: 2px solid #fff;
	padding: 10px 20px 0 20px;
	display: inline-block;
	margin-left: 20px;

}

header h1 a{
	color: #fff;
}

.container{
	width: 100vw;
	margin: 0 auto;
}
.item{
	width: 30vw;
	margin: 20px auto;
	
	
	padding: 30px;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	border: 2px solid transparent;
	transition: all .2s linear;
	color: #212121;
	background-color: #fff;

}


.item:hover{
	/*border: 2px solid #454545;*/
	transform: translateY(-2px);
	box-shadow: 5px 5px 10px #333;
}
.item .title{
	flex-grow: 2;
	text-align: left;
}
.row{
	display: flex;
}

.col-2{
	width: 0;
	color: #eee;

}
.col-1{
	width: 100vw;
}
/*.col-2{
	width: calc(100vw - 950px);
	border: 1px solid black;


}
.col-1{
	width: 950px;
}*/

h2{
	text-align: center;
	font-size: 2em;
	margin-top: 20px;
}

.title a{
	text-decoration: none;
	color: #000;
	

}

.details{
	width: 50vw;
	margin: 30px auto;
	border-radius: 6px;
	background: #fff;
	color: #212121;
	padding: 30px;
}

.details .title{
	text-align: center;
	padding: 10px 0;
	font-size: 30px;
}

.details .status{
	float: right;

}

.details .status a{
	color: #757575;
	font-size: 16px;
}

.details .info{
	clear: both;
	padding: 10px;
}


