<!DOCTYPE html>

<html>
	<head>
		<title>Check List</title>
		<link rel="stylesheet" href="../../static/stylesheets/resets.css">
		<link rel="stylesheet" href="../../static/stylesheets/style.css">
	</head>
	<body>
		<header>
			<h1>Awesome List : College Stuff</h1>

		</header>
		<section class="row">
			<section class="col-1">
				<div class="container">
					<div class="item">
						<div class="status">Not ticked</div>
						<div class="title">Curtains</div>

					</div>
					<div class="item">
						<div class="status">Not ticked</div>
						<div class="title">Curtains</div>	
					</div>

				</div>
			</section>
			<section class="col-2">
				<h2>Curtain</h2>
				<section class="">
					
				</section>
			</section>

	</body>
</html>